# Stripe
STRIPE_SECRET_KEY=sk_test_...
NUXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_test_...

# Envios.com
ENVIOS_API_KEY=tu_api_key_aqui
CODIGO_POSTAL_ORIGEN=55010

# URL del sitio (para redirect después de Stripe)
NUXT_PUBLIC_SITE_URL=http://localhost:3000

# Producción (comentar en desarrollo)
# STRIPE_SECRET_KEY=sk_live_...
# NUXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_live_...
# NUXT_PUBLIC_SITE_URL=https://tudominio.com
