/*Tipografias Montserrat y Playfair Display*/
@font-face {
    font-family: 'Montserrat';
    src: url('/assets/fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
    font-weight: 400 700;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Playfair Display';
    src: url('/assets/fonts/PlayfairDisplay-VariableFont_wght.ttf') format('truetype');
    font-weight: 400 700;
    font-style: normal;
    font-display: swap;
}
/*Framework Tailwind y componentes de nuxt*/
@import "tailwindcss";
@import "@nuxt/ui";

:root{
    --color-text:black;
    --color-background:white;

    --font-main:'Montserrat', sans-serif;
    --font-title: 'Playfair Display', serif;

    --space-xs: 0.5rem;   /*8px*/
    --space-sm: 1rem;     /*16px*/
    --space-md: 1.5rem;   /*24px*/
    --space-lg: 2rem;     /*32px*/
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: var(--font-main);
    color: var(--color-text);
}

section {
    padding-left: var(--space-lg);
    padding-right: var(--space-lg);
    padding-top: var(--space-lg);
}

h1, h2 {
    font-family: var(--font-title);
}

h1 {
    font-size: 1.75rem; /*28px*/
    font-weight: 700;
    line-height: 1.2;
}

h2 {
    font-size: 1.375rem; /*22px*/
    font-weight: 600;
    line-height: 1.3;
}

h3 {
    font-size: .95rem; /*16px*/
    font-weight: 600;
    line-height: 1.4;
}
p{
    font-size: 0.95rem;
    line-height: 1.7;
    margin-bottom: var(--space-sm);
}
.site-title {
    color: var(--color-text);
    font-family: var(--font-title);
    font-size: 1.75rem;
    font-weight: 700;
}

/*Tablet*/
@media (min-width: 768px) {
    section {
    padding-left: calc(var(--space-lg) * 1.5);
    padding-right: calc(var(--space-lg) * 1.5);
    padding-top: calc(var(--space-lg) * 1.5);
    padding-bottom: calc(var(--space-lg) * 1.5);
    }
    h1 {
    font-size: 2.4rem; /*38px*/
    }

    h2 {
    font-size: 1.8rem; /*29px*/
    }

    h3 {
    font-size: 1.1rem; /*21px*/
    }
    p{
        font-size: 1.1rem; /*21px*/
    }
}

/*Desktop*/
@media (min-width: 1024px) {
    section {
    padding-left: calc(var(--space-lg) * 2);
    padding-right: calc(var(--space-lg) * 2);
    padding-top: calc(var(--space-lg) * 2);
    padding-bottom: calc(var(--space-lg) * 2);
    }
    h1 {
    font-size: 3.2rem; /*51px*/
    }

    h2 {
    font-size: 2.4rem; /*38.5px*/
    }

    h3 {
    font-size: 1.3rem; /*21px*/
    }
}
